.home-container {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.todos-container {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

.contact-container {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}
